<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391020026085-d35s167jqn9fstrv79ju8drg1ebkn9ck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391020026085-d35s167jqn9fstrv79ju8drg1ebkn9ck</string>
	<key>API_KEY</key>
	<string>AIzaSyCEu3p2vnohjtUImuDvTd_BRHcZS88Df6g</string>
	<key>GCM_SENDER_ID</key>
	<string>391020026085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fairAndSquare</string>
	<key>PROJECT_ID</key>
	<string>fair-n-square-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fair-n-square-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391020026085:ios:748c8220adf9c3a7235c0c</string>
</dict>
</plist>